.main_container {
    display: flex;
    height: 100vh;
    padding: 25px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.87);
}

.header {
    flex: 1;
}

.tv_show_detail {
    flex:2;
}

.recommendations {
    flex:1;

}